<html>
    <head>Assign Grades</head>
    <body><form>
        <input type="hidden" name="course"/>
        <input type="text" name="marks"/>
        <input type="hidden" name="<%- user %>"/>
        <input type="submit"/>
    </form></body>
</html>